// SPDX-License-Identifier: MIT

// @import "bourbon"

$background: lightslategrey
$content-background: white
$shadow-color: darkslategrey
$title-color: black
$footer-background: darkslategrey
$footer-text-color: white
$footer-border-color: null

// $font: $font-stack-georgia

$corner-curve: null
$text-width: 55em
$side-padding: 1.5em

body
  background-color: $background
  font-family: Georgia
  text-align: justify
  line-height: 1.5em

#site
  box-shadow: 0 0 30px 10px $shadow-color
  background-color: $content-background
  //font-size: 115%
  max-width: $text-width + 2 * $side-padding
  margin: auto
  @if $corner-curve
    border-radius: $corner-curve

h1,h2,h3
  clear: both
  a,a:visited
    color: black

h1
  margin-top: 0
  margin-bottom: 1em
  font-variant: small-caps
  //display: inline-block //messed things up, hope it wasn't important
  a,a:visited
    color: $title-color

h2
  margin-top: 0
  margin-bottom: 3px

h3
  a,a:visited
    color: black
  a:hover
    color: darkgrey

.dropcap
  float: left
  font-size: 3.15em
  line-height: 0.5
  margin: 0.225em 0.159em 0 0
  + span
    font-variant: small-caps
    margin-left: -0.5em

a,a:visited
  color: #00a
a:hover
  color: #000

header
  overflow: hidden
  padding-top: 30px
  text-align: center
  a 
    text-decoration: none
  a:hover
    color: black
    text-decoration: underline

nav
  display: flex
  align-items: center
  width: 100%
  text-align: center
  background-color: whitesmoke
  font-size: 110%
  margin-bottom: 1em

  a,a:visited,a:hover
    flex: 1 1 auto
    display: table-cell
    color: black
    padding-left: 1em
    padding-right: 1em
    text-decoration: none
  a.current
    font-weight: bold
    background-color: gainsboro
  a:hover
    text-decoration: underline

#subtitle
  font-weight: bold
  font-style: italic

#breadcrumbs
  list-style: none
  font-weight: bold
  li
    display: inline
    a
      text-decoration: none
  
main
  padding-top: 5px
  .meta
    color: #aaa

.item
  margin-bottom: 5px

img
  max-width: 100%

img.align-right
  float: right
  margin: 0 0 1em 2em

footer
  @if $footer-border-color
    border-top: 1px solid $footer-border-color
  clear: both
  @if $corner-curve
    border-radius: 0 0 $corner-curve $corner-curve
  padding-top: 20px
  padding-bottom: 20px
  background-color: $footer-background
  font-weight: bold
  text-align: center
  color: $footer-text-color
  margin-top: 2em
  a,a:visited
    color: $footer-text-color
    text-decoration: none

header, #breadcrumbs, main, footer, #comments-container
  padding-left: $side-padding
  padding-right: $side-padding

#gallery
  text-align: center
  // Prevent space between images
  font-size: 0

.gallery-item
  font-size: 14px
  display: inline-block
  width: 50%

a.gallery-image
  margin: 2.5%
  img
    width: 95%

.poem
  margin-left: 2em
  .stanza
    margin-left: 2em
  .line
    margin-left: -2em

article
  margin-bottom: 2em

#comments
  margin-left: auto
  margin-right: auto
  max-width: 320px
  background-color: linen
  border: 1px solid black
  border-radius: 5px
  padding: 0.5em
  h2
    margin-top: 0

@media only screen and (max-width: 480px)
  img.align-right
    float: none
    margin: auto
    display: block
  header, #breadcrumbs, main, footer, #comments-container
    padding-left: 1em
    padding-right: 1em
  nav
    display: block
    a
      display: block
      margin: 0
      padding: 8px
      text-align: left
  body
    // Justify doesn't turn out well on small screens
    text-align: left
  #gallery, .gallery-item, a.gallery-image
    width: 100%
  .gallery-item
    margin-bottom: .5em
    padding: 0

@media print
  #site
    box-shadow: none
  header, #breadcrumbs, main, footer, #comments
    padding-left: 0
    padding-right: 0
  #footer
    border-top: none

pre
   background-color: #f0f0f0
   padding: 1em
   overflow: auto
