---
SPDX-License-Identifier: MIT
title: Ian Douglas Scott
hideTitle: false
---

$for(posts)$
<article>
    <h2>$title$</h2>
    <time class="meta" datetime="$datetime$" itemprop="datePublished">
        $date$
    </time>
    <span>$teaser$</span>
    <a href="$url$">Read more</a>
</article>
$endfor$
