---
SPDX-License-Identifier: MIT
---

$if(language)$
<strong>Language:</strong> $language$
<br/>
$endif$
$if(repository-url)$
<strong>Repository:</strong> <a href="$repository-url$">$repository-name$</a>
<br/>
$endif$
$if(download-url)$
<strong>Download:</strong> <a href="$download-url$">$download-name$</a>
<br/>
$endif$

$body$
