---
SPDX-License-Identifier: MIT
---

<article>
    <section class="header">
        <time class="meta" datetime="$datetime$" itemprop="datePublished">
            $date$
        </time>
    </section>
    <section>
        $body$
    </section>

    $if(discussion)$
    <div id="coments-container">
        <div id="comments">
            <h2>Discussion</h2>
            $for(discussion)$
            <a href="$link$">$name$</a>
            $endfor$
        </div>
    $endif$
</article>
